# Public Sanity Configuration (Frontend)
NEXT_PUBLIC_SANITY_PROJECT_ID=819qznh7
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-02-01

# Private Sanity Tokens (Server-side only for Live Content & Draft Mode)
SANITY_API_READ_TOKEN=
SANITY_API_TOKEN=

# Production Site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_STUDIO_URL=http://localhost:3333
